@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #1f1f2f;
  font-family: "Roboto Mono", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --light-stuff: rgb(231, 231, 214);
  --background: #2c2a35;
  --hover: #1976d2;
}
